
<section>
<div class="container">
<div class="row">

<div class="col-md-6">
<h2 class="text-center">Add products</h2>
<form action="/admin/add-product" method="post" enctype="multipart/form-data">
<label for=""> Name</label>
<input type="text" name="Name" class="form-control">

<label for=""> Category</label>
<input type="text" name="Category" class="form-control">

<label for=""> Price</label>
<input type="text" name="Price" class="form-control">

<label for=""> Description</label>
<input type="text" name="Description" class="form-control">

<label for="">Image</label>
<input type="file" class="form-control" name="Image">


<button type="submit" class="btn btn-success mt-4">submit</button>
<div class="">

    <a href="/admin/" class="btn btn-info mt-4">View products</a>

</div>


</div>
</div>
</div>
</section>