<div class="container bg-info" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Admin Login In</h5>
            <form action="/admin/admin_login" method="post" >
            {{#if loginerr}}
                <p class="error text-danger">{{loginerr}}</p>
            {{/if}}
            
              <div class="form-floating mb-3">
                <input type="email" class="form-control" name="Email" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" name="Password"  class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>

              <div class="d-grid mt-4">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Log
                  in</button>
              </div>
                     
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>